<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>返回
      </ion-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onChangePwd()" #changePwdForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-text>请输入旧密码</ion-text>
      </ion-item>
      <ion-item>
        <ion-input name="oldPwd" type="password" required [(ngModel)]="pwd.old" #oldPwd="ngModel">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-text>请输入新密码</ion-text>
      </ion-item>
      <ion-item>
        <ion-input name="newPwd" type="password" required [(ngModel)]="pwd.new" #newPwd="ngModel">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-text>请再输入一次</ion-text>
      </ion-item>
      <ion-item>
        <ion-input name="cNewPwd" type="password" required [(ngModel)]="pwd.cNew" #cNewPwd="ngModel">
        </ion-input>
      </ion-item>
      <ion-text text-left color="danger" *ngIf="changePwdForm.submitted">
        <p [hidden]="newPwd!=cNewPwd" padding-start>两次输入的密码不一致。</p>
        <p [hidden]="oldIsRight" padding-start>您输入的旧密码不正确。</p>
      </ion-text>
      <div padding-horizontal>
        <ion-button type="submit" expand="full" color="primary" [disabled]="changePwdForm.invalid">下一步</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
