<ion-header>
  <ion-toolbar color="primary">
    <ion-title>注册</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center style="padding-top: 20px;">
    <img class="logo" src="assets/img/logo_1.png" alt="">
  </div>
  <div>
    <ion-grid margin-top>
      <ion-row>
        <ion-col>
          <img src="assets/img/registered_one.png" alt="" *ngIf="slideIndex!==0">
          <img src="assets/img/registered_one_one.png" alt="" *ngIf="slideIndex===0">
        </ion-col>
        <ion-col align-self-center>
          <hr class="line">
        </ion-col>
        <ion-col>
          <img src="assets/img/registered_two.png" alt="" *ngIf="slideIndex!==1">
          <img src="assets/img/registered_two_two.png" alt="" *ngIf="slideIndex===1">
        </ion-col>
        <ion-col align-self-center>
          <hr class="line">
        </ion-col>
        <ion-col>
          <img src="assets/img/registered_three.png" alt="" *ngIf="slideIndex!==2">
          <img src="assets/img/registered_three_three.png" alt="" *ngIf="slideIndex===2">
        </ion-col>
        <ion-col align-self-center>
          <hr class="line">
        </ion-col>
        <ion-col>
          <img src="assets/img/register_four.png" alt="" *ngIf="slideIndex!==3">
          <img src="assets/img/register_four_four.png" alt="" *ngIf="slideIndex===3">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-slides  #signupSlides (ionSlideDidChange)="onSlideDidChange()" style="padding: 0;">
    <ion-slide>
        <form (ngSubmit)="onSignupPhone()" #registerForm="ngForm" style="width: 100%;">
          <ion-list>
            <ion-item>
              <ion-input name="phone" type="number" placeholder="请输入您的手机号码" required
                         pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0-3,5-9])|(19[8-9]))\d{8}$" [(ngModel)]="register.phone" #phone="ngModel">
              </ion-input>
            </ion-item>
              <ion-text text-left color="danger" *ngIf="(phone.invalid && phone.touched)">
                <p [hidden]="!phone.errors?.required" padding-start>请输入手机号码</p>
                <p [hidden]="!phone.errors?.pattern" padding-start>您输入的手机号格式不正确</p>
              </ion-text>
              <ion-button type="submit" expand="full" color="primary" [disabled]="registerForm.invalid">下一步</ion-button>
          </ion-list>
        </form>
    </ion-slide>
    <ion-slide>
        <form (ngSubmit)="onValidateCode()" #codeForm="ngForm" style="width: 100%;">
          <ion-list>
            <ion-item>
              <ion-input slot="start" placeholder="输入验证码" name="code" [(ngModel)]="register.code" #code="ngModel" required [disabled]="!sended"></ion-input>
              <ion-button color="primary" expand="full" slot="end" class="full-width" (click)="onSendSMS()" [disabled]="!verifyCode.disable">{{verifyCode.verifyCodeTips}}</ion-button>
            </ion-item>
            <ion-text text-left color="danger" *ngIf="(code.invalid && code.touched) || codeForm.submitted">
              <p [hidden]="!code.errors?.required" padding-start>请输入验证码</p>
              <p [hidden]="codeIsRight" padding-start>您输入的验证码不正确</p>
            </ion-text>
            <div padding-horizontal>
              <ion-button type="button" expand="full" color="primary" (click)="previous()">上一步</ion-button>
            </div>
            <div padding-horizontal>
              <ion-button type="submit" expand="full" color="primary" [disabled]="codeForm.invalid || !sended">下一步</ion-button>
            </div>
            <!-- 根据需求添加若干ion-item -->
          </ion-list>
        </form>
    </ion-slide>
    <ion-slide>
        <form (ngSubmit)="onInfoSend()" #infoForm="ngForm" style="width: 100%;">
        <ion-list>
          <ion-item>
            <ion-input name="shopName" type="text" placeholder="请输入学校的名称" required [(ngModel)]="register.shopName" #shopName="ngModel">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="email" type="text" placeholder="请输入电子邮箱" required
                       pattern="^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$" [(ngModel)]="register.email" #email="ngModel">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="请输入登录密码" required [(ngModel)]="register.password" #password="ngModel">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="confirmPassword" type="password" placeholder="请输入确认密码" required [(ngModel)]="register.confirmPassword" #confirmPassword="ngModel">
            </ion-input>
          </ion-item>
          <ion-text text-left color="danger" *ngIf="(shopName.invalid && shopName.touched)">
            <p [hidden]="!shopName.errors?.required" padding-start>请输入学校的名称</p>
          </ion-text>
          <ion-text text-left color="danger" *ngIf="(email.invalid && email.touched)">
            <p [hidden]="!email.errors?.required" padding-start>请输入电子邮箱</p>
            <p [hidden]="!email.errors?.pattern" padding-start>您输入的邮箱格式不正确</p>
          </ion-text>
          <ion-text text-left color="danger" *ngIf="(password.invalid && password.touched)">
            <p [hidden]="!password.errors?.required" padding-start>请输入登录密码</p>
          </ion-text>
          <ion-text text-left color="danger" *ngIf="(confirmPassword.invalid && confirmPassword.touched) || infoForm.submitted">
            <p [hidden]="!confirmPassword.errors?.required" padding-start>请输入确认密码</p>
            <p [hidden]="pwdIsSame" padding-start>两次输入的密码不一致</p>
          </ion-text>
          <div padding-horizontal>
            <ion-button type="button" expand="full" color="primary" (click)="previous()">上一步</ion-button>
          </div>
          <div padding-horizontal>
            <ion-button type="submit" expand="full" color="primary" [disabled]="infoForm.invalid">下一步</ion-button>
          </div>
          <!-- 根据需求添加若干ion-item -->
        </ion-list>
      </form>
    </ion-slide>
    <ion-slide>
      <div padding-horizontal style="width: 100%;">
        <ion-text>
          <p>注册成功</p>
        </ion-text>
        <ion-button type="button" expand="full" color="primary" href="/login">立即登录</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
  <app-copyright [bottom]="'20px'"></app-copyright>
</ion-content>
