<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>返回
      </ion-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides  #forgotPasswordSlides>
    <ion-slide>
        <form (ngSubmit)="onSendPhone()" #forgotPasswordForm="ngForm" novalidate>
          <ion-list>
            <ion-item>
              <ion-label position="fixed">邮箱/手机</ion-label>
              <ion-input name="forgotPhone" type="text" required [(ngModel)]="user.forgotPhone"></ion-input>
            </ion-item>
            <div padding-horizontal>
              <ion-button type="submit" expand="full" color="primary" [disabled]="forgotPasswordForm.invalid">提交</ion-button>
            </div>
          </ion-list>
        </form>
    </ion-slide>
    <ion-slide>
      <form (ngSubmit)="onSendCode()" #codeForm="ngForm" novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="fixed">验证码</ion-label>
            <ion-input name="code" type="text" required [(ngModel)]="user.code"></ion-input>
          </ion-item>
          <ion-text text-left color="danger" *ngIf="codeForm.submitted">
            <p [hidden]="codeIsRight" padding-start>您输入的验证码不正确</p>
          </ion-text>
          <div padding-horizontal>
            <ion-button type="submit" expand="full" color="primary" [disabled]="codeForm.invalid">提交</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide>
    <ion-slide>
      <form (ngSubmit)="onSendPwd()" #pwdForm="ngForm" novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="fixed">用户密码</ion-label>
            <ion-input name="pwd" type="password" required [(ngModel)]="user.pwd"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">确认密码</ion-label>
            <ion-input name="cpwd" type="password" required [(ngModel)]="user.cpwd"></ion-input>
          </ion-item>
          <ion-text text-left color="danger" *ngIf="pwdForm.submitted">
            <p [hidden]="pwdIsSame" padding-start>两次密码不一致</p>
          </ion-text>
          <div padding-horizontal>
            <ion-button type="submit" expand="full" color="primary" [disabled]="pwdForm.invalid">提交</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
