.less-equal{
  color: var(--ion-color-success, #10dc60);
}
.greater{
  color: var(--ion-color-danger, #f04141);
}
.quick-actions + .quick-actions{
  margin-top: -1px;
}
.quick-action-item {
  height: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ececec;
}
.quick-action-item + .quick-action-item{
  margin-left: -1px;
}
.shortcut{
  text-align: center;
}
.shortcut ion-icon{
  font-size: 48px;
}
.shortcut div{
  color: var(--ion-color-dark);
}
.shortcut img{
  padding:2px 20px;
}
a {
  text-decoration: none;
}
