<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>返回
      </ion-button>
    </ion-buttons>
    <ion-title>关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text>
    <p>1、项目名称: 点到为止</p>
    <p>2、团队成员：郭乙龙 胡潇伟 胡俊峰 高波 赖林佳</p>
    <p>3、APP已完成功能：</p>
    <p>①MD5加密、短信验证码（通过腾讯云）、验证码发送倒计时、微信分享、QQ分享、短信分享、注册、登录、班课列表、签到、发起签到、添加班课等课内要求的全部功能。</p>
    <p>②对APP内的全部文本输入框均有进行验证，并且错误时会给出提示。在用户操作后，例如修改密码成功、登录失败等，都有给出alert或者toast提示，提高用户感知度。</p>
    <p>③在所有页面添加了返回按钮，并且对未登录无权限的页面进行拦截。</p>
    <p>4、未完成功能：无</p>
    <p>5、意见和建议：</p>
    <p>建议可以每周给我们一个任务,让我们完成一个功能.按照目前的方式,很多功能都堆到了最后一起做.</p>
  </ion-text>
</ion-content>
