<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>返回
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="id==0">新增大分类</ion-title>
    <ion-title *ngIf="id!=0">新增小分类</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onSave()" #addCategoryForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item *ngIf="id==0">
        <ion-label position="fixed">大分类</ion-label>
        <ion-input name="name" type="text" placeholder="商品大分类名称" [(ngModel)]="category.name"></ion-input>
      </ion-item>
      <ion-item *ngIf="id!=0">
        <ion-text>{{name}}</ion-text>
      </ion-item>
      <ion-item *ngFor="let c of children">
        <ion-label position="fixed">小分类</ion-label>
        <ion-input name="children{{c.id}}" type="text" placeholder="商品小分类名称" [(ngModel)]="c.name"></ion-input>
      </ion-item>
      <ion-item detail="false" (click)="onAddSubCategory()">
        <ion-icon slot="start" name='add-circle' color="primary"></ion-icon>
        <ion-label color="primary">新增小分类</ion-label>
      </ion-item>
      <div padding-horizontal>
        <ion-button type="submit" expand="full" color="primary" [disabled]="addCategoryForm.invalid">保存</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
