<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="aoe">新增商品</ion-title>
    <ion-title *ngIf="!aoe">编辑商品</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <form (ngSubmit)="onSave()" #productForm="ngForm" style="width: 100%;">
  <ion-list lines="full">
    <ion-item>
      <ion-thumbnail slot="start" style="margin: 10px 0;" (click)="onPresentActionSheet()">
        <img src="assets/img/supplier_icon.png">
      </ion-thumbnail>
      <ion-thumbnail style="margin: 10px 10px;" (click)="onPresentActionSheet()" *ngFor="let c of product.images">
        <img src="{{c}}" />
      </ion-thumbnail>
      <ion-note slot="end">上传图片</ion-note>
    </ion-item>
    <ion-item>
      <ion-text style="margin: 5px 30px 5px 10px;width: 50px;">条码</ion-text>
      <ion-input name="barcode" type="text" placeholder="请输入商品条码" [(ngModel)]="product.barcode"></ion-input>
      <ion-icon name="barcode" slot="end" (click)="onScan()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-text style="margin: 5px 30px 5px 10px;width: 50px;">名称<span style="color: red;padding-left: 3px;">*</span></ion-text>
      <ion-input name="name" type="text" required [(ngModel)]="product.name"></ion-input>
    </ion-item>
    <ion-item detail routerLink="/categoryList">
      <ion-text style="margin: 5px 30px 5px 10px;width: 50px;">分类<span style="color: red;padding-left: 3px;">*</span></ion-text>
      <ion-note slot="end">{{product.categoryName}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-text style="margin: 5px 30px 5px 10px;width: 50px;">售价<span style="color: red;padding-left: 3px;">*</span></ion-text>
      <ion-input name="price" type="text" required placeholder="输入商品售价" [(ngModel)]="product.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-text style="margin: 5px 30px 5px 10px;width: 50px;">进价</ion-text>
      <ion-input name="bid" type="text" placeholder="输入商品进价" [(ngModel)]="product.bid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-text style="margin: 5px 30px 5px 10px;width: 50px;">库存</ion-text>
      <ion-input name="stock" type="text" placeholder="输入商品库存" [(ngModel)]="product.stock"></ion-input>
    </ion-item>
    <ion-item>
      <ion-text style="margin: 5px 30px 5px 10px;width: 50px;">规格</ion-text>
      <ion-input name="spec" type="text" placeholder="规格 型号 尺码" [(ngModel)]="product.spec"></ion-input>
    </ion-item>
    <ion-item>
      <ion-text style="margin: 5px 30px 5px 10px;width: 50px;">备注</ion-text>
      <ion-input name="note" type="text" placeholder="输入商品备注" [(ngModel)]="product.note"></ion-input>
    </ion-item>
    <ion-item>
      <ion-text style="margin: 5px 20px 5px 10px;width: 60px;">供应商</ion-text>
      <ion-note (click)="chooseSuppier()">{{product.supplierName}}</ion-note>
    </ion-item>
  </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none" *ngIf="aoe">
      <ion-button expand="full" fill="clear" size="default" color="light" style="width: 50%;" (click)="onSave(false)">
        保存
      </ion-button>
      <ion-button expand="full" fill="clear" size="default" color="light" style="width: 50%;" (click)="onSave(true)">
        继续添加
      </ion-button>
    </ion-item>
    <ion-item color="primary" lines="none" *ngIf="!aoe">
      <ion-button expand="full" fill="clear" size="default" color="light" style="width: 100%;" (click)="onSaveEdit(false)">
        保存
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
